@font-face {
  font-family: "Goyang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-gray: #757575;
  --color-orange: #ff741d;
  --size-25: 25px;
  --size-16: 16px;
}
:root[color-theme="light"] {
  --background-main: #fff;
  --background-sub: #eee;
  --color-font: #333;
}

:root[color-theme="dark"] {
  --background-main: #000;
  --background-sub: #666;
  --color-font: #fff;
}

html {
  box-sizing: border-box;
  background: var(--background-main);
  color: var(--color-font);
}

body * {
  font-family: Goyang;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
}

button {
  outline: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.switch {
  position: fixed;
  top: 19px;
  right: 5%;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-orange);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  z-index: 100;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 5px solid rgba(255, 255, 255, 0.356);
  border-radius: 50%;
  border-top-color: var(--color-orange);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
  font-size: var(--size-25);
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.SearchResult .item {
  background-color: var(--background-sub);
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  height: 280px;
  border-radius: 10px 10px;
  overflow: hidden;
}

.NoData {
  position: fixed;
  width: 20%;
  height: 50px;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  background: var(--color-orange);
  color: #fff;
  font-size: 2em;
  text-align: center;
  border-radius: 10px 10px;
  display: none;
}

.ShowName {
}

.SearchHistory {
  padding: 0;
  color: var(--color-gray);
}

.SearchHistory span {
  float: left;
  display: block;
}

.SearchHistory li {
  float: left;
  padding: 0px 5px;
  border: 1px solid var(--color-gray);
  border-radius: 10px 10px;
  margin-left: 8px;
  cursor: pointer;
}

.SearchInputContainer {
  vertical-align: middle;
}
.SearchInput {
  width: 90%;
  font-size: 40px;
  padding: 10px 15px;
  background: var(--background-main);
  border: 1px solid var(--color-font);
}

.SearchRandomImg {
  float: right;
  background: var(--background-main);
  color: var(--color-gray);
  cursor: pointer;
  font-size: var(--size-16);
  vertical-align: middle;
  border: 1px solid var(--color-gray);
  padding: 0px 5px;
  border-radius: 10px 10px;
  margin-top: 10px;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-main);
  border: 1px solid var(--background-sub);
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

@media (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, 1fr);
  }
  .ImageInfo .content-wrapper {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .SearchResult {
    display: block;
  }
}

footer {
  width: 100%;
  height: 10px;
}
